<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.369" />
  <package id="FubuCore" version="0.9.9.182" />
  <package id="FubuLocalization" version="0.9.5.80" />
  <package id="FubuMVC.Core" version="0.9.8.1200" />
  <package id="HtmlTags" version="1.1.0.115" />
</packages>